
{% extends 'base.html' %}

{% load static %}
{% block title %} Add car {% endblock %}
{% block content %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Add new car</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Add new car</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- add car start -->
<div class="contact-2 content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Add <span>Car</span></h1>
            <p>It's the form for adding your car </p>
        </div>
        {% include 'includes/messages.html' %}
        <form action = '{% url 'add_car' %}' method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {{ car_form.as_p }}
            {{ cars_photo_form.as_p }}

            <div class="col-md-12">
                <div class="send-btn text-center">
                    <button type="submit" class="btn btn-md button-theme">Add car</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- add car end -->

{% endblock %}
