
{% extends 'base.html' %}

{% load static %}
{% block title %} Update car {% endblock %}
{% block content %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Update car</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Update car</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- add car start -->
<div class="contact-2 content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Process car updating user - <span>{{user.first_name}}</span></h1>
            <p>It's the form for updating your car </p>
        </div>
        {% include 'includes/messages.html' %}
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ from.media }} 
            <h2> Additional photos </h2>
            {% for photo_form in car_photos %}
                {{  photo_form.as_p }}
            {% endfor %}

            <div class="col-md-12">
                <div class="send-btn text-center">
                    <button type="submit" class="btn btn-md button-theme">Update car</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- add car end -->

{% endblock %}
