{% extends 'base.html' %}
{% load static %}
{% load humanize %} 
{% block title %} Car Zone - {{ user.username }} Dashboard {% endblock %}
{% block content %}


<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>User's Car</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">{{ user.first_name }}'s cars</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!--   Dashboard Start   -->

<div class="container mt-50 mb-50">
    {% include 'includes/messages.html' %}
    {% if usercars %}
	<div class="main-title" style="text-align:left !important;">
            <h1>Hey, <span>{{ user.first_name }}!</span></h1>
            <p>Here is your cars that you added</p>
        </div>
	<table class="table table-hover">
	  <thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Car Name</th>
		  <th scope="col">Location</th>
		  <th scope="col">Price</th>
		  <th scope="col">Action</th>
		</tr>
	  </thead>
	  <tbody>
        {% for car in usercars %}
		<tr>
		  <th scope="row">{{ forloop.counter }}</th>
		  <td>{{ car.car_title }} </td>
		  <td>{{ car.state }}, {{ car.city }}  </td>
		  <td>${{ car.price |intcomma }} </td>
		  <td>
            <a href="{% url 'cardetails' car.id %}" class="btn btn-outline-dark"><i class="fa fa-eye" aria-hidden="true"></i></a> 
            <a href="{% url 'delete_car' car.id %}" class="btn btn-outline-dark"><i class="fa fa-trash" aria-hidden="true"></i></a> 
            <a href="{% url 'update_car' car.id %}" class="btn btn-outline-dark"><i class="fa fa-pencil" aria-hidden="true"></i></a> 
        </td>
		</tr>
        {% endfor %} 
	  </tbody> 
	</table>
    {% else %}
        <div class="main-title" style="text-align:left !important;">
            <h1>Hey, <span>{{ user.first_name }}!</span></h1>
            <p>You have not published any cars yet.</p>
        </div>
    {% endif %}
</div>

<!--   Dashboard End   -->
{% block jsblock %}

<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>
<script>
    function LoadMap(propertes) {
        var defaultLat = 40.7110411;
        var defaultLng = -74.0110326;
        var mapOptions = {
            center: new google.maps.LatLng(defaultLat, defaultLng),
            zoom: 15,
            scrollwheel: false,
            styles: [
                {
                    featureType: "administrative",
                    elementType: "labels",
                    stylers: [
                        {visibility: "off"}
                    ]
                },
                {
                    featureType: "water",
                    elementType: "labels",
                    stylers: [
                        {visibility: "off"}
                    ]
                },
                {
                    featureType: 'poi.business',
                    stylers: [{visibility: 'off'}]
                },
                {
                    featureType: 'transit',
                    elementType: 'labels.icon',
                    stylers: [{visibility: 'off'}]
                },
            ]
        };
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var infoWindow = new google.maps.InfoWindow();
        var myLatlng = new google.maps.LatLng(40.7110411, -74.0110326);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map
        });
        (function (marker) {
            google.maps.event.addListener(marker, "click", function (e) {
                infoWindow.setContent("" +
                    "<div class='map-properties contact-map-content'>" +
                    "<div class='map-content'>" +
                    "<p class='address'>20-21 Kathal St. Tampa City, FL</p>" +
                    "<ul class='map-properties-list'> " +
                    "<li><i class='flaticon-phone'></i>  +0477 8556 552</li> " +
                    "<li><i class='flaticon-phone'></i>  info@themevessel.com</li> " +
                    "<li><a href='index.html'><i class='fa fa-globe'></i>  http://www.example.com</li></a> " +
                    "</ul>" +
                    "</div>" +
                    "</div>");
                infoWindow.open(map, marker);
            });
        })(marker);
    }
    LoadMap();
</script>

{% endblock %}
{% endblock %}